body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 62.5%;
}

h1 {
    font-size: 3.6em;
    letter-spacing: 2px;
}

h2 {
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 2px;
}

nav {
    text-align: center;
    position: fixed;
    top: 1.5em;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav li {
    display: inline;
    color: #fff;
    font-size: 1.3em;
    margin-right: 5em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.7;
}

nav li>a {
    color: #fff;
    text-decoration: none;
}

nav li:last-child {
    margin-right: 0;
}

p {
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.section {
    padding: 10em 0;
    width: 60%;
    margin: 0 auto 0 auto;
}

#hero {
    height: 100vh;
    color: #ffffff;
    text-align: center;
    background: #000 url(cloud-suit01.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

#hero h1 {
    font-size: 3.6em;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 20px;
    opacity: 0.9;
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
}

#hero h2 {
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0.4;
    position: absolute;
    bottom: 2.5em;
    left: 0;
    right: 0;
}

.section h1 {
    margin-bottom: 2em;
}

.section h2 {
    margin-bottom: 1.5em;
}

.section img {
    float: left;
    margin-right: 5em;
    margin-bottom: 3em;
}

#skills {
    background-color: #999;
    color: #eee;
}